<!-- Articles Start -->

<section id="{{ page.section-type }}" class="container content-section text-center">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">

        {{ page.content | markdownify }}

        <blockquote class="embedly-card" data-card-controls="0" data-card-theme="dark"><h4><a href="https://medium.com/@eduardobaitello/using-different-kubectl-versions-with-multiple-kubernetes-clusters-a3ad8707b87b">Using different kubectl versions with multiple Kubernetes clusters</a></h4><p>The right kubectl version for the right cluster</p></blockquote>
        <script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>

        <blockquote class="embedly-card"data-card-controls="0" data-card-theme="dark"><h4><a href="https://medium.com/@eduardobaitello/trying-prometheus-operator-with-helm-minikube-b617a2dccfa3">Trying Prometheus Operator with Helm + Minikube</a></h4><p>An introduction to Prometheus Operator, how to deploy it in Minikube (with helm) and configure alert notifications for Slack.</p></blockquote>
        <script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>


      </div>
    </div>
</section>

<!-- Articles End -->
